*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #00E7C4;
    text-align: center;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #EC0B43;
}

.board{
    height:70vh;  /*70% of viewport height */
    width: 70vh;   
    border: 10px solid #5F3333;
    border-radius: 10%;
    background-color: #EFCB68;
    display:flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.55);
    margin:30px;
}

.box{
    height: 60vh; /*60% of viewport minimum height */
    width: 60vh; /*60% of viewport minimum width */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.cell{
    height:18vmin;
    width:18vmin;
    background-color: #9166ca;
    border:none;
    border-radius: 10%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
    font-size: 10vmin;
}

.O{
    color: #171219;
}

.X{
    color:#E3BAC6;
}

.reset{
    height: 5vh;
    width: 20vh;
    background-color: #EC0B43;
    border: none;
    border-radius: 5%;
    font-size: 3vmin;
    color: #171219;
    font-weight: 550;
}

.new-btn{
    height: 5vh;
    width: 20vh;
    background-color: black;
    border: none;
    border-radius: 7%;
    font-size: 3vmin;
    color: white;
    font-weight: 550;
}

#msg{
    color: #5F3333;
    font-size: 50px;
    font-weight: 600;
}

.msg-container{
    height:100vmin;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}

.hide{
    display: none;
}